<li class="list-group-item">
  <span class="address"><%= url %></span>
  <div>
    <%= form_for(:url, url: urls_path, html: {class: 'form-inline'}) do |f| %>
    <fieldset>
      <div class="input-group">
        <%= f.hidden_field :address,     :value => url     %>
        <%= f.hidden_field :trig_type,   :value => trig_type %>
        <%= f.hidden_field :button_type, :value => 'delete' %>
        <span class="input-group-btn">
          <%= f.submit "delete", class: "btn btn-link btn-del btn-xs" %>
        </span>
      </div><!-- /input-group -->
      </fieldset>
    <% end %>
  </div>
</li>
