<div class="scrolling-region">
  <ul class="list-group">
    <% list.each do |element| %>
      <%= render partial: "url", locals: { trig_type: trigger, url: element } %>
    <% end %>
  </ul>
</div>

<%= form_for(:url, url: urls_path, html: {class: 'form-search'}) do |f| %>
  <div class="input-group">
    <%= f.text_field :address, placeholder: "URL" %>
    <%= f.hidden_field :trig_type, :value => trigger %>
    <%= f.hidden_field :button_type, :value => 'add' %>
    <span class="input-group-btn">
      <%= f.submit "Add", class: "btn btn-xs btn-primary" %>
    </span>
  </div><!-- /input-group -->
<% end %>



